/* Logo */
.logo{
    width: 120px;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 50px;
    position: relative;
    top: -30px;
}


.nav-color{
    background: #242836;
    color: white;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .logo{
    top: -32px
    }
  }