/* Logo */
.logo{
    width: 120px;
    height: 100%;
    vertical-align: middle;
    margin-bottom: 50px;
    position: relative;
    top: -30px;
}

.image-tagline{
    font-size: 2rem;
    font-weight: 200;
    z-index: 100;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.card.horizontal .card-image {
    max-width: 37%;
    max-height: 700px;
}

.nav-color{
    background: #242836;
    color: white;
}

.box{
    height: auto;
    background: rgb(255, 255, 255);    
}



.sidenav li>a {
    color: rgba(255, 255, 255);
    font-size: 20px;
    font-weight: 300;
}

.illustration{
    width: 500px;
    height: auto;
}

.top-margin{
    margin-top: 50px;
}

.form-section{
    padding-top: 20px;
}

.heading-text{
    font-weight: 300;
    font-size: 20px;
    padding: 0 .75rem;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
    .logo{
    top: -32px
    }
  }